@{
    ViewBag.Title = "ViewCart";
}
@Html.Partial("~/Views/Shared/_NavBar.cshtml")
@{var totalProductPrice = 0;}
@if (TempData["message"] != null)
{
    <div id="infoValidationSummary" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@TempData["message"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="container mt-5">
    <div class="row ml-5 ">

        <div class="col-12 text-center">
            <h3 class="font-weight-bold ">My Cart</h3>
        </div>
        <br>
        <br>
        <br>
        <br>

    </div>

    <div class="row ml-5 mt-5">
        <div class="col-4">
            <h5 class="font-weight-bold">Your Selected Foods</h5>
        </div>
        <div class="col-4">
            <h5 class="font-weight-bold text-center">Quantity</h5>
        </div>
        <div class="col-4">
            <h5 class="font-weight-bold text-center">Price</h5>
        </div>
    </div>

    @for (var i = 0; i < @Model.ProductID.Count; i++)
    {
        <div class="row ml-5 mt-5">
            <div class="col-4">
                <a href="@Url.Action("Delete", "Cart", new { cId = @Model.CartID[i] })">
                    <i style="color: indianred;" class="fas fa-times mr-2"></i>
                </a>
                <a href="@Url.Action("ItemDetails", "Cart", new {@cartId = @Model.CartID[i], @productId = @Model.ProductID[i]})">
                    <span style="color: grey; font-weight: 400;">@Model.ProductName[i]</span>
                </a>
            </div>
            <div class="col-4 text-center">
                <h5 style="color: grey;font-weight: 400;">@Model.ProductQuantity[i]</h5>
            </div>
            <div class="col-4 text-center">
                <h5 style="color: grey;font-weight: 400;">@Model.TotalPrice[i]</h5>
            </div>
            @{totalProductPrice = totalProductPrice + Model.TotalPrice[i];}
        </div>
    }
    <div class="row ml-5 mt-5">
        <div class="col-3 offset-9">
            <h5 class="font-weight-bold">Total: @totalProductPrice Taka</h5>
        </div>
    </div>

    <div class="row text-center my-5">
        <div class="col-12 mt-5">
            <a href="@Url.Action("Index", "FeaturedItem")">
                <input type="submit" value="Continue Shopping" class="buttonCss" />
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    @using (Html.BeginForm("Index", "Order", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4 font-weight-bold">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4 class="font-weight-bold mb-5">Shipping and Billing</h4>
                        </div>

                        <div class="md-form col-md-9 col-8 offset-2 offset-md-3 animated bounceIn mb-4">
                            <input style="border: none; border-radius: 0px; border-bottom: 1.2px solid #b3b3b3; background: transparent" type="text" id="Name" name="Name" value="@Model.Name" readonly="readonly" class="form-control">
                            <label style="color: #b30000;font-weight: 400;left: 25px;top: 5px" class="nameLabel position-absolute">Name</label>
                        </div>

                        <div class="md-form col-md-9 col-8 offset-2 offset-md-3 animated bounceIn mb-4">
                            <input style="border: none; border-radius: 0px; border-bottom: 1.2px solid #b3b3b3;" type="text" id="Address" name="address" required class="form-control">
                            <label style="color: #b30000;font-weight: 400;left: 25px;top: 5px" class="addressLabel position-absolute">Address</label>
                        </div>

                        <div class="md-form col-md-9 col-8 offset-2 offset-md-3 animated bounceIn mb-4">
                            <input style="border: none; border-radius: 0px; border-bottom: 1.2px solid #b3b3b3; background: transparent" type="text" id="Number" name="PhnNo" value="@Model.PhnNo" readonly="readonly" class="form-control">
                            <label style="color: #b30000;font-weight: 400;left: 25px;top: 5px" class="phoneNumberLabel position-absolute">Mobile No.</label>
                        </div>

                        <div class="md-form col-md-9 col-8 offset-2 offset-md-3 animated bounceIn">
                            <input style="border: none; border-radius: 0px; border-bottom: 1.2px solid #b3b3b3; background: transparent" type="email" id="Email" name="email" value="@Model.Email" readonly="readonly" class="form-control">
                            <label style="color: #b30000;font-weight: 400;left: 25px;top: 5px" class="emailLabel position-absolute" for="email">Email</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-3">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-6 offset-md-3">
                            <h4 class="font-weight-bold mb-5">Order Summery</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 offset-2">
                            <p class="color">Sub-Total(@Model.ProductID.Count items)</p>
                        </div>
                        <div class="col-5 offset-1">
                            <p class="color">@totalProductPrice TK</p>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-4 offset-2">
                            <p class="color mt-5 ">Shipping Charge</p>
                        </div>
                        <div class="col-5 offset-1">
                            <p class="color mt-5 ">60 TK</p>
                        </div>
                    </div>

                    @{int finalTotalPrice = totalProductPrice + 60;}
                    <input type="text" class="form-control d-none" id="finalTotalPrice" name="finalTotalPrice" value="@finalTotalPrice" />

                    @*<div class="row ">
                            <div class="md-form col-5 offset-2 animated bounceIn">
                                <input style="border-bottom: 1.2px solid #b3b3b3; margin-top: 17px;" type="text" id="email" class="form-control">
                                <label style="color: #b30000; margin-top: 17px; font-weight: 400;" class="ml-3" for="email">Email</label>
                            </div>

                            <div class="col-5 mt-5 ml-n5">
                                <button class="buttonCss ">Apply</button>
                            </div>
                        </div>*@

                    <div class="row ">
                        <div class="col-4 offset-2">
                            <p class=" mt-5 font-weight-bold">Total</p>
                        </div>
                        <div class="col-5 offset-1">
                            <p class=" mt-5 font-weight-bold ">@finalTotalPrice TK</p>
                        </div>
                    </div>
                    <input type="text" class="form-control d-none" id="totalItem" name="TotalItem" value="@Model.ProductID.Count" readonly="readonly" />
                    <input type="text" class="form-control d-none" id="dateTime" name="dateTime" value="@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")" placeholder="@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")" />
                    @for (var i = 0; i < @Model.ProductID.Count; i++)
                    {
                        <input type="text" class="form-control d-none" id="ProductID" name="ProductID" value="@Model.ProductID[i]" required />
                        <input type="text" class="form-control d-none" id="ProductQuantity" name="ProductQuantity" value="@Model.ProductQuantity[i]" required />
                        <input type="text" class="form-control d-none" id="TotalPrice" name="TotalPrice" value="@Model.TotalPrice[i]" required />
                    }
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center mt-5">
            <div class="col-12">
                <input type="submit" value="Proceed To Pay" class="buttonCss" />
            </div>
        </div>
    }
</div>
@Html.Partial("~/Views/Shared/_Footer.cshtml")
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Name").focus(function () {
                $(".nameLabel").animate({ "top": '-25px' }, 100);
            });

            $("#Address").focus(function () {
                $(".addressLabel").animate({ "top": '-25px' }, 100);
            });

            $("#Number").focus(function () {
                $(".phoneNumberLabel").animate({ "top": '-25px' }, 100);
            });

            $("#Email").focus(function () {
                $(".emailLabel").animate({ "top": '-25px' }, 100);
            });

            $('#Name').blur(function() {
                if (!$(this).val()) {
                    $(".nameLabel").animate({ "top": '5px' }, 100);
                }
            });

            $('#Address').blur(function () {
                if (!$(this).val()) {
                    $(".addressLabel").animate({ "top": '5px' }, 100);
                }
            });

            $('#Number').blur(function() {
                if (!$(this).val()) {
                    $(".phoneNumberLabel").animate({ "top": '5px' }, 100);
                }
            });

            $('#Email').blur(function () {
                if (!$(this).val()) {
                    $(".emailLabel").animate({ "top": '5px' }, 100);
                }
            });

            if (document.getElementById("Name").value) {
                $(".nameLabel").animate({ "top": '-25px' }, 100);
            }

            if (document.getElementById("Address").value) {
                $(".addressLabel").animate({ "top": '-25px' }, 100);
            }

            if (document.getElementById("Number").value) {
                $(".phoneNumberLabel").animate({ "top": '-25px' }, 100);
            }

            if (document.getElementById("Email").value) {
                $(".emailLabel").animate({ "top": '-25px' }, 100);
            }

            if ("@TempData["message"]" != null) {
                $('#infoValidationSummary').modal('show');
            }
        });
    </script>
    
    @Scripts.Render("~/bundles/jqueryval")
}