@model Chef_Zilla.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container-fluid">

    <div class="row fixed-top">
        <div class="col-md-3 d-none d-md-block ">
            <img style="width: 70%" class="img-fluid" src="~/Images/Group 2.png" alt="">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div><br><br><br>

    <div class="row d-flex align-items-center mt-5">
        <div class="col-md-6 col-sm-10 offset-sm-1 offset-md-0 text-center animated pulse">
            <img style="width: 60%;" src="~/Images/forgot 2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row text-center animated rubberBand">
                    <div class="col-md-12">
                        <h1>Forgot Password</h1>
                    </div>
                </div>
                <div class="row text-center color mt-5 animated pulse">
                    <div class="col-md-12">
                        <h4>Please submit your phone number.</h4>
                        <h4>We'll send a verification link to reset your password.</h4>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                    {
                        <div class="row mt-2">
                            <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2">
                                <div class="alert alert-warning alert-dismissible show" role="alert">
                                    @Html.ValidationSummary(true, "")
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row mt-2 animated bounceIn">
                        <div class="md-form col-md-8 offset-md-2 col-sm-8 offset-sm-2">
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @style = "border-bottom: 1.2px solid #b3b3b3; " } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "ml-3 phoneNumberLabel", @style = "color: #b30000;" })
                        </div>
                    </div>

                    <div class="row text-center my-3 animated fadeIn">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="buttonCss text-center" />
                        </div>
                    </div>
                }
                <br>
            </div>
                    </div>
    </div>

    <div class="row fixed-bottom">
        <div class="container-fluid px-0">
            <div class="row no-gutters d-none d-md-block">
                <div class="col-md-12">
                    <img style="width: 15%;" class="float-right" src="~/Images/Group 1.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Number").focus(function () {
                $(".phoneNumberLabel").animate({ "top": '-25px' }, 100);
            });

            $('#Number').blur(function () {
                if (!$(this).val()) {
                    $(".phoneNumberLabel").animate({ "top": '5px' }, 100);
                }
            })

            if (document.getElementById("Number").value) {
                $(".phoneNumberLabel").animate({ "top": '-25px' }, 100);
            }
        });
    </script>
    @Styles.Render("~/Animation/css")
    @Scripts.Render("~/bundles/jqueryval")
}
